
name: Deploy to AWS EC2

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: SSH Deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
         set -e
          cd ~
          # Install git first
          sudo yum update
          sudo yum install git -y
          sudo yum update -y
          sudo yum install docker -y
          sudo systemctl start docker
          sudo systemctl enable docker
          if [ ! -d electronics-app ]; then
            git clone https://github.com/imraj4u9-abc/Electronics1.git electronics-app
          fi

         cd /home/ec2-user/electronics-app || exit
         git fetch origin
         git reset --hard origin/master
         docker compose down || true
         docker compose up -d --build







